body
{
	background-color: #ffffff;
	color:#000000;
	
}

/*  .error 
{
	position: relative;
    top: 50px;
    left: 125px;
	color:black;
	display: block;

} */
#Form label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
		float:right;
		color:red;
	}

.wrapper input[type="text"] {
    position: relative; 
}



.wrapper:before {
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}



.container
{
	width:960px;
	height:1110px;
	background-color: #ffffff;
	margin-left:auto;
	margin-right:auto;
	
}

.nav1

{
	width:960px;
	height:90px;
	margin-top:0px;
	background-color:#ffffff;
}

.nav1Top
{
	width:960px;
	height:35px;
	
	
	
}
.textNav1Top
{
	float: right;
    margin-right: 11px;
    margin-top: 15px;
}

.textNav1Top ul {
margin: 0;
    padding: 0px;
    list-style-type: none;
}
.textNav1Top li {
    display: inline;
    position: relative;
    top: -7px;
    left: 19px;
    font-family: 'Open Sans', sans-serif;
}
.textNav1Top a {
    text-decoration: none;
    font-size: 11px;
    color: black;
    padding: 23px;
}
.textNav1NoneSpace
{
	word-spacing:0px;
}


.textNav1NoneSpaceMargin
{
	word-spacing:0px;
	margin-right:43px;
}


.nav1Bottom
{
	width:960px;
	height:45px;
	background-color:#ffffff;
	
}

.nav1Bottom a {
	text-decoration: none;
    font-size: 11px;
    color: black;
    padding: 5px;
    word-spacing: -4px
}

.nav1Bottom li {
    display: inline;
    position: relative;
    top: -2px;
    left: -36px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 5px;
}


.nav1BottomText
{
	width:680px;
	height:45px;
	float:left;
	
}



.nav1BottomSearch
{
    width: 280px;
    height: 45px;
    float: left;
    border: none;
    text-indent: 8px;

	
}


.nav1BottomInput
{
	font-size: 12px;
    background-color: #e8e5d4;
    color: #95948e;
    height: 34px;
    width: 177px;
    line-height: 37px;
    margin-left: 18px;
    margin-top: 8px;
    float: left;
    border: none;
	   text-indent: 21px;
	
}
.icon-search
{
	position: relative;
    top: 17px;
    left: -190px;
    font-size: 17px
}

.nav1BottomButton
{
    height: 36px;
    width: 75px;
    background-color: #ef8a80;
    color: #000000;
    float: left;
    margin-top: -12px;
    line-height: 335%;
    font-size: 11px;
}

.textNav1Bottom
{
	font-size:10px;
	word-spacing:15px;
	float:left;
	margin-left:8px;
	margin-top:16px;
	
}

.textNav1BottomNoneSpaceMargin
{
	word-spacing:0px;
	margin-right:2px;
}

.textNav1BottomSpace
{
	word-spacing:19px;
}


.nav2
{
	width:960px;
	height:45px;
	background-color:#5e5e5c;
	color:#ffffff;
}



.nav2 ul {
	margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.nav2 li {
	display: inline;
    position: relative;
    top: 10px;
    left: -2px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
}
.nav2 a {
	text-decoration: none;
    font-size: 11px;
    padding: 13px;
	color:#ffffff;
}

.nav2 a:hover {
	text-decoration: underline;
    font-size: 11px;
    color: red;
    padding: 13px;
}

.nav2TextSpace
{
	margin-right:27px;
}

.nav2TextMargin
{
	word-spacing:0px;
	margin-left:5px;
    margin-right: 18px;
}
.content
{
	width:960px;
	height:616px;
	background-color:#ffffff;
}

.contentForm
{

	width:960px;
	height:445px;
	
}

.contentFormRight
{

	width:480px;
	height:405px;
	float:left;
	
}


.contentFormLeft
{
	
	width:480px;
	height:405px;
	float:left;
}
.contentErrorPosition
{
	position: relative;
    top: 20px
}
.contentLabel1
{
    position: relative;
    top: 13px;
    left: -6px;
    font-size: 15px;
}

.contentLabel2
{
	position: relative;
    top: 52px;
    left: -6px;
    font-size: 15px;
	
}

.contentLabel3
{
    position: relative;
    top: 95px;
    left: -6px;
    font-size: 15px;
}

.contentLabel4
{
    position: relative;
    top: 139px;
    left: -4px;
    font-size: 14px
}

.contentLabel5
{
	position: relative;
    top: -75px;
    left: -3px;
    font-size: 14px;
}
.contentLabel6
{
	position: relative;
    top: -34px;
    left: -3px;
    font-size: 14px;
}
.contentLabel7
{
	position: relative;
    top: -34px;
    left: 16px;
    font-size: 14px
}
.contentLabel8
{
    position: relative;
    top: -51px;
    left: 93px;
    font-size: 14px
}
.contentLabel9
{
	position: relative;
    top: -67px;
    left: 196px;
    font-size: 14px;
}

.contentLabel10
{
    position: relative;
    top: -93px;
    left: -3px;
    font-size: 14px
}

.contentFormTextLabel
{
	line-height: 280%;
    margin-left: 0px;
    font-size: 15px;
}

.contentFormText1
{
	font-size: 11px;
    background-color: #f3f3f0;
    color: #575656;
    width: 460px;
    height: 35px;
    border: none;
    outline: none;
    float: left;
    text-indent: 9px;
    position: relative;
	top: 19px;
    left: -4px;
	
}

.contentFormText2
{
    font-size: 11px;
    background-color: #f3f3f0;
    color: #575656;
    width: 460px;
    height: 35px;
    border: none;
    outline: none;
    float: left;
    text-indent: 9px;
    position: relative;
    top: 61px;
    left: -4px;
	
}

.contentFormText3
{
	font-size: 11px;
    background-color: #f3f3f0;
    color: #575656;
    width: 460px;
    height: 35px;
    border: none;
    outline: none;
    float: left;
    text-indent: 9px;
    position: relative;
    top: 104px;
    left: -4px;
	
}
.contentFormText4
{
	font-size: 11px;
    background-color: #f3f3f0;
    color: #575656;
    width: 460px;
    height: 35px;
    border: none;
    outline: none;
    float: left;
    text-indent: 9px;
    position: relative;
    top: 148px;
    left: -4px;
	
}



.contentFormTextDate
{
    width: 34px;
    height: 32px;
    text-indent: 5px;
    position: relative;
    top: -94px;
    left: 264px;
    border: none;
    background-color: #f3f3f0;
	
}

.contentFormTextDate2
{
	width: 34px;
    height: 32px;
    text-indent: 5px;
    position: relative;
    top: -94px;
    left: 277px;
    border: none;
    background-color: #f3f3f0
}

.contentFormTextDate3
{
    width: 34px;
    height: 32px;
    text-indent: 5px;
    position: relative;
    top: -94px;
    left: 287px;
    border: none;
	background-color: #f3f3f0
	
}

.contentIconCalendar
{
	position: relative;
    top: -119px;
    left: 433px;
    font-size: 19px;
}
.contentTextAreaField
{
	width:480px;
	height:150px;
}
.contentTextArea
{
	font-size: 12px;
    background-color: #f3f3f0;
    color: #575656;
    border: none;
    width: 453px;
    min-width: 453px;
    max-width: 453px;
    height: 130px;
    min-height: 130px;
    max-height: 130px;
    noresize: none;
    float: right;
    position: relative;
    top: -86px;
    left: -5px;
}

.contentFormInput1
{
	margin-left:-4px;
	margin-top:10px;
	
}

.contentFormInput
{
	margin-left:-4px;
	margin-top:10px;
	
}

.contentFormInputRight
{
	margin-left:-4px;
	margin-top:10px;
	height: 80px;
}

.contentFormDateField
{
	    line-height: 743%;
		margin-left: -7px;
}



.selectData {
	font-size: 11px;
    background-color: #f3f3f0;
    color: #575656;
    width: 460px;
    height: 35px;
    border: none;
    outline: none;
    float: left;
    text-indent: 9px;
    border: 0;
    -webkit-appearance: none;
	 -moz-appearance: none;  /*Removes default style Firefox*/
    position: relative;
    top: -69px;
    left: -2px;
}

select.selectData {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #f3f3f0, #f3f3f0);

  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;

  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.contentFormRadioButton1
{
	position: relative;
    top: -15px;
    left: -6px;
	border:none;
	
}
.contentFormRadioButton2
{
    position: relative;
    top: -89px;
    left: 172px;
	border:none;
}

.contentTextGift
{
    margin-top: 0px;
    margin-left: 8px;
    line-height: 526%;
    font-size: 18px;
    margin-bottom: 0px;
}

.contentTextComment
{
	margin-left: 10px;
    font-size: 14px;
    margin-top: 0px;
    line-height: 100%;
	margin-bottom:0px;
}


.contentButtonSpace
{
	color: gray;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	width:500px;
	height:auto;
	float:right;
}
.contentButtonBuy
{
    margin-right: -277px;
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    width: 170px;
    height: 37px;
    float: right;
	
}
.contentButtonPreview
{  

    margin-top: 20px;
    margin-right: 191px;
    background-color: #ef8a80;
    color: #000000;
    border: none;
    width: 96px;
    height: 37px;
    float: right;
	
	
}

.contentTextButtonBuy
{
    font-size: 11px;
    line-height: 340%;
    margin-left: 23px;
	
}

.contentTextButtonPreview
{
	font-size: 11px;
    line-height: 340%;
    margin-left: 23px;
}

.contentTextFAQ
{
	line-height: 599%;
    font-size: 14px;
    text-decoration: underline;
    position: relative;
    top: 164px;
    left: -5px;
}

.belt
{
	width:960px;
	height:1px;
	background-color:#f3f3f0;
}


.bottomMenu
{
	width:960px;
	height:288px;
}

.bottomMenuSquare1
{
	width:360px;
	height:288px;
	float:left;
	
}

.bottomMenuSquare1Text
{
    text-indent: 9px;
    line-height: 225%;
    font-size: 16px;
}

.bottomMenuSquare1Input
{
    background-color: #e8e5d4;
    border: none;
    margin-left: 10px;
    width: 220px;
    margin-top: 1px;
    height: 35px;
    font-size: 9px;
    text-indent: 16px;
	float:left;
}

.bottomMenuSquare1Button
{
	background-color: #ef8a80;
    color: #000000;
    font-size: 10px;
    float: left;
    width: 75px;
    height: 37px;
    line-height: 390%;
    margin-top: 1px;
    text-indent: 17px;
	 
}


.bottomMenuFollow
{
    position: relative;
    top: 29px;
    left: 9px;
}


.bottomMenuFollowIcon
{
	position: relative;
    top: 48px;
    left: 0px;
    font-size: 28px;
    letter-spacing: -10px;
}

.bottomMenuSquare2
{
	width:100px;
	height:288px;
	float:left;
}

.bottomMenuSquare2 p
{
    position: relative;
    top: 8px;
    left: -2px;
    font-size: 16px;
}

.bottomMenuSquare2 ul
{
	margin: 0;
    padding: 0px;
    list-style-type: none;
}

.bottomMenuSquare2 li
{
    display: block;
    position: relative;
    top: 12px;
    left: -6px;
    margin-top: 7px
}
.bottomMenuSquare2 a
{
	text-decoration: none;
    font-size: 14px;
    color: black;
    padding: 5px;
    word-spacing: 0px;
}
.bottomMenuSquare3
{
	width:160px;
	height:288px;
	float:left;
}

.bottomMenuSquare3 p
{
    position: relative;
    top: 10px;
    left: 51px;
    font-size: 16px
}
.bottomMenuSquare3 ul 
{
	margin: 0;
    padding: 0px;
    list-style-type: none;
}
.bottomMenuSquare3 li
{
    display: block;
    position: relative;
    top: 12px;
    left: 47px;
    margin-top: 7px;
}

.bottomMenuSquare3 a
{
	text-decoration: none;
    font-size: 14px;
    color: black;
    padding: 5px;
    word-spacing: 0px;
}

.bottomMenuSquare3Text
{
	margin-top: 24px;
    margin-left: 26px;
}



.bottomMenuSquare4
{
	width:110px;
	height:288px;
	float:left;
}

.bottomMenuSquare4 p
{
	position: relative;
    top: 10px;
    left: 27px;
    font-size: 15px;
}

.bottomMenuSquare4 ul
{
	margin: 0;
    padding: 0px;
    list-style-type: none;
}
.bottomMenuSquare4 li
{
    display: block;
    position: relative;
    top: 14px;
    left: 22px;
    margin-top: 7px;
}

.bottomMenuSquare4 a
{
	text-decoration: none;
    font-size: 13px;
    color: black;
    padding: 5px;
    word-spacing: 0px;
}
.bottomMenuSquare5
{
	width:230px;
	height:288px;
	float:left;
	font-family: 'Open Sans', sans-serif;
}

.bottomMenuSquare5 ul
{
	margin: 0;
    padding: 0px;
    list-style-type: none;
}

.bottomMenuSquare5 p
{
	position: relative;
    top: 10px;
    left: 29px;
    font-size: 14px;
}

.bottomMenuSquare5 li
{
	display: block;
    position: relative;
    top: 11px;
    left: 23px;
    margin-top: 3px;
}

.bottomMenuSquare5 a
{
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding: 5px;
    word-spacing: 0px;
}


.nitroInfo
{
    width: 960px;
    height: 70px;
    float: left;
    margin-left: 2px;

}


.nitroInfo ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
}

.nitroInfo li {
    display: inline;
    position: relative;
    top: 24px;
    left: 2px;
    margin-right: 73px;
}
.nitroInfo a {
    text-decoration: none;
    font-size: 11px;
    color: black;
    padding: 5px;
    word-spacing: 1px;
}

.navFontIcon {
    float: right;
    position: relative;
    top: -2px;
    right: 17px;
    padding-top: 5px;
    display: flex;
    background-color: white;
    font-size: 29px;
    height: 36px;
    margin-left: 5px;
}

