
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-twitter-circled:before { content: '\e801'; } /* '' */
.icon-pinterest-squared:before { content: '\e802'; } /* '' */
.icon-cc-visa:before { content: '\e803'; } /* '' */
.icon-cc-mastercard:before { content: '\e804'; } /* '' */
.icon-cc-paypal:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-instagram-circled:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */